@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

* {
    font-family: 'Gruppo', cursive;
}

body {
    background: linear-gradient(to right, rgba(119, 124, 141, 0.459), rgba(126, 161, 140, 0.178),rgb(221, 92, 2,0.48));
}

h1{
    font-family: 'Henny Penny', cursive;
    text-align: center;
    font-size: 3em;
}

#pInfo{
    width: 80%;
    text-align: justify;
    margin-left: 50px;
}

img { display: inline-block;
    text-align: center;
    margin-left: 135px;
    margin-top: 20px;
}
#logueo {
    margin-top: 60px;
    float:right;
   width: 50%;
    text-align: center;
    padding: 15px;
    box-sizing:border-box;
}

#Info {
    float: left;
   width: 40%;
    text-align: left;
}

#reminder {
    font-size: 1.1em;
    color: rgb(68, 64, 64);
}

label{
    width: 150px;
    display: inline-block;
    font-size: 1.2em;
}

button{
    margin-top: 15px;
    font-size: 2em;
    border-radius: 8px;
    background-color: rgb(207, 178, 133);
    color: rgb(0, 0, 0);
}
footer {
    background-color: black;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  }